.signin-layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: silver;
}

.signin-box {
  width: 460px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.25);
}

.signin-header {
  padding: 1.4rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signin-header-logo {
  width: 100px;
}

.signin-header-title {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
  color: black;
}

.signin-header-subtitle {
  font-size: 20px;
  margin-bottom: 0;
  color: grey;
}

.signin-body {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.input-field {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.input-label {
  display: flex;
  color: grey;
}

.input-control {
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #8e8e97;
  padding: 0.25rem 0.75rem;
  outline: none;
}

.input-control:focus {
  border: 2px solid #5960e6;
}

.link-end {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px 0;
  text-decoration: none;
  color: #5960e6;
}

.link-end:hover {
  color: #3e45ce;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0.35rem 1.25rem;
  border-radius: 5px;
  border: 1px solid #5960e6;
  background: #5960e6;
  width: 100%;
}

.btn-text {
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: all 0.2s;
}

.btn-submit:hover {
  background: #3e45ce;
}

.text-center {
  text-align: center;
  font-size: 15px;
  color: grey;
  margin: 15px 0;
}

.link-text-center {
  text-decoration: none;
  color: #5960e6;
}

.link-text-center:hover {
  color: #3e45ce;
}

@media screen and (max-width: 480px) {
  .signin-body {
    width: 100%;
    min-height: 100vh;
  }
}
